{% extends 'accounts/account_base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<form class="form-signin pt-5" enctype="multipart/form-data" method="post">
  {% csrf_token %}
  <div class="text-center my-5 b-1">

    <h1 class="h3 mb-3 font-weight-normal">Джуманджи</h1>
    <p class="h5 font-weight-light">Создайте аккаунт</p>
  </div>
  {{ form|crispy }}
  <button class="btn btn-primary btn-lg btn-block mt-5" type="submit">Зарегистрироваться</button>
</form>

<div class="mt-4 text-center"><p>Есть аккаунт? <a href="/login">Войдите!</a></p></div>
{% endblock %}