{% extends 'mycom_base.html' %}

{% block title %}Вакансии компании | {% endblock %}

{% block body_style_in_head %}
<style>
  body {
    background-color: #F6F2E6;
  }
</style>
{% endblock %}

{% block content %}
<div class="row mt-5">
  {% include 'left-menu.html' %}
  <div class="col-12 col-lg-8">
    <div class="card">
      <div class="card-body px-4 pb-4">
        <section class="tab-pane fade show active">
          <h2 class="h4 pt-2 pb-3">Вакансии</h2>
          <p class="alert alert-info" role="alert">
            У вас пока нет вакансий, но вы можете создать первую!
          </p>
          <a href="{% url 'mycompany_vacancies_create' %}" class="btn btn-info mb-2">Добавить вакансию</a>

          <!--div-- class="card mt-3">
            <div class="card-body px-4">
              <div class="row align-items-center">
                <div class="col-6 col-lg-8">
                  <a href="/mycompany/vacancies/{{ vacancy.vacancy_id }}/" class="mb-1">{{ vacancy.title }}</a>
                  <p class="mb-1">
                    <span class="mr-4">{{ vacancy.salary_max }}</span><a href="#" class="text-info">{{ vacancy.application_count }} отклика</a>
                  </p>
                </div>
                <div class="col-6 col-lg-4 text-right">
                  <a href="/mycompany/vacancies/{{ vacancy.vacancy_id }}/" class="btn btn-outline-info">Изменить</a>
                </div>
              </div>
            </div>
          </div-->

        </section>
      </div>
    </div>
  </div>
</div>
{% endblock %}