{% extends 'mycom_base.html' %}

{% block title %}Вакансии компании | {% endblock %}

{% block body_style_in_head %}
<style>
  body {
    background-color: #F6F2E6;
  }
</style>
{% endblock %}

{% block content %}
<div class="row mt-5">
  {% include 'left-menu.html' %}
  <div class="col-12 col-lg-8">
    <div class="card">
      <div class="card-body px-4 pb-4">
        <section class="tab-pane fade show active">
          <h2 class="h4 pt-2 pb-3">Вакансии</h2>
          <!-- vacancy state 1 -->
          <div class="card mt-3">
            <div class="card-body px-4">
              <div class="row align-items-center">
                <div class="col-6 col-lg-8">
                  <a href="#" class="mb-1">Backend-разработчик</a>
                  <p class="mb-1">
                    <span class="mr-4">120  000</span><a href="#" class="text-info">3 отклика</a>
                  </p>
                </div>
                <div class="col-6 col-lg-4 text-right">
                  <a href="#" class="btn btn-outline-info">Изменить</a>
                </div>
              </div>
            </div>
          </div>
          <!-- END vacancy state 1 -->
          <!-- vacancy state 2 -->
          <div class="card mt-3">
            <div class="card-body px-4">
              <div class="row align-items-center">
                <div class="col-6 col-lg-8">
                  <a href="#" class="mb-1">Backend-разработчик</a>
                  <p class="mb-1">
                    <span class="mr-4">90  000</span><span class="text-muted">Нет откликов</span>
                  </p>
                </div>
                <div class="col-6 col-lg-4 text-right">
                  <a href="#" class="btn btn-outline-info">Изменить</a>
                </div>
              </div>
            </div>
          </div>
          <!-- END vacancy state 2 -->
        </section>
      </div>
    </div>
  </div>
</div>
{% endblock %}