{% extends 'base.html' %}
{% load job_extras %}
{% load crispy_forms_tags %}

{% block title %}Вакансия {{ vacancy.title }} | {% endblock %}

{% block body_style_in_head %}
{% endblock %}

{% block content %}
  <div class="row mt-5">
    <div class="col-12 col-lg-2">
      <div class="pl-3 mb-5">
        <p><a href="#" onclick="history.back();">Назад</a></p>
      </div>
    </div>
    <div class="col-12 col-lg-8">
      <section class="pl-3">
        <a href="/companies/{{ vacancy.company.com_id }}/"><img src="{{ MEDIA_URL }}{{ vacancy.company.logo }}" width="130" height="80" alt=""></a>
        <div class="d-flex align-items-baseline align-content-baseline">
          <h1 class="h2 mt-4 font-weight-bold" >{{ vacancy.title }}</h1>
          <p class="m-0 pl-3">{{ vacancy.salary_min }} - {{ vacancy.salary_max }} Р</p>
        </div>
        <p class="mt-2">{{ vacancy.specialty.title }} • {{ vacancy.skills|replace_separator }}</p>
        <p class="text-muted mb-4">{{ vacancy.company.name }} ({{ vacancy.company.employee_count }} человек), {{ vacancy.company.location }}</p>
        <div style="line-height: 1.8;">
          {{ vacancy.description|safe }}
        </div>

        <form method="post" action="send/" class="card mt-4 mb-3" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="card-body mx-3">
            <p class="h5 mt-3 font-weight-normal">Отозваться на вакансию</p>
            {{ form|crispy }}
            <input type="submit" class="btn btn-primary mt-4 mb-2" value="Записаться на пробный урок">
          </div>
        </form>
      </section>
    </div>
  </div>
{% endblock %}
